html, body {
    margin: 0;
    padding: 0;
    background-color: #ECEEF2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    background-color: #8474BF;
    padding: 20px;
    text-align: center;
    color: #ECEEF2;
    border-bottom: 5px solid #3D3D3D;
}

.gallery-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-card {
    padding: 20px;
    margin: 10px;
    background-color: #3D3D3D;
    border: 2px solid #BDB1F2;
    text-align: center;
}

.image-synopsis {
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #ECEEF2;
    color: #8474BF;
    border: 1px solid #ECEEF2;
    border-radius: 5px;
    font-size: 16pt;
}

.heart-image {
    font-size: 16pt;
    background-color: #3D3D3D;
    color: #ECEEF2;
    outline: 0;
    border: 0;
}

.heart-image:hover {
    color: #8474BF;
}

.total-hearts {
    font-size: 16pt;
    color: #ECEEF2;
}

img {
    border: 1px solid #ECEEF2;
    border-radius: 5px;
}